/* Navbar! */

#navbar {
  height: 75px;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
  font-size: 20px;
}

.nav-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  transition: transform 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
  transform: scale(1.05); 
}

.nav-link.active {
  text-decoration: underline;
  font-weight: bold; /* Optional: to make the active link stand out more */
}

#logo-pic {
  height: 75px;
}

/* Home! */

#home {
  width: 100%;
  height: 1000px;
  background-image: url('assets/homephoto-crop.jpeg');
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title h1 {
  font-size: 100px;
  color: #DED9CE;
  padding-left: 50px;
  padding-top: 100px;
  font-family: "Viaoda Libre", serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#subtitle h3 {
  font-size: 60px;
  color: #DED9CE;
  text-align: left;
  padding-left: 50px;
  font-family: "Viaoda Libre", serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#quote-block {
  height: 200px;
  width: 50%;
  background-color: rgba(125, 58, 34, 0.5); 
  margin-bottom: 25px;
  margin-top: 25px;
}

#quote-container {
  height: 100px;
  width: 500px;
  padding-left: 100px;
  padding-top: 10px;
}

.styled-quote {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 23px;
    color: #DED9CE; 
    padding: 25px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.styled-quote::before,
.styled-quote::after {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    color: #DED9CE; 
    position: absolute;
}

.styled-quote::before {
    content: open-quote;
    top: -20px; 
    left: -10px; 
}

.styled-quote::after {
    content: close-quote;
    bottom: -30px; 
    right: -10px;
}


#quote-content {
  display: flex;
  flex-direction: column;
}

#source {
  color: #DED9CE;
  font-family: "Playfair Display", serif;
  align-self: flex-end;
}

#source a {
  color: inherit;
}

#up-next-block {
  height: 335px;
  width: 50%;
  background-color: rgba(34, 50, 96, 0.5);
  margin-top: 15px;
}

#up-next-photo {
  height: 250px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

#up-next-photo:hover {
  transform: scale(1.05); 
}

#up-next {
  color: #DED9CE;
  margin-left: 15px;
  font-family: "Viaoda Libre", serif;
  padding-top: 20px;
}

#up-next-contents {
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-family: "Playfair Display", serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#full-schedule {
  height: 30px;
  width: 250px;
  color: #DED9CE;
  background-color: #382c43;
  margin: 10px;
  border: 1px solid;
  border-color: #111113;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

#full-schedule:hover {
  transform: scale(1.05);
}

#left-side {
  padding-left: 10px;
  padding-top: 15px;
  color: #DED9CE;
  text-align: center;
}

#right-side {
  text-align: center;
  padding: 20px;
}

.caption {
  color: #DED9CE;
  padding-top: 5px;
  font-size: 12px;
}

/* Resume block! */

#resume-block {
  height: 400px;
  width: 100%;
  background-color: #032107;
}

#headshot-container {
  width: 350px; 
  height: 350px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#john-one {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 15%;
}

#block-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}

#resume-button {
  height: 75px;
  width: 250px;
  background-color: #732B05;
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
  font-size: 23px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

#resume-button:hover {
  transform: scale(1.05);
}

/* Biography! */

#biography {
  width: 100%;
  height: 900px;
  background-image: url('assets/falstaff1.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px;
}
#bio-block {
  height: 800px;
  width: 700px;
  background-color: rgba(56, 26, 83, 0.9);
  color: #DED9CE; 
  text-align: center;
  line-height: 2.5;
  padding: 50px;
}

#bio-block p {
  font-size: 14px;
}

.highlight {
  font-size: 1.5em; 
  font-weight: bold;
  line-height: 1;
}

#bio-block h1 {
  font-family: "Viaoda Libre", serif;
  padding-bottom: 20px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#bio-block p {
  font-family: "Playfair Display", serif;
}

/* Schedule! */

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

#schedule {
  width: 100%;
  height: 1200px;
  background-color: #0f1939;
}

#schedule-title h1 {
  display: flex;
  justify-content: center;
  color: #DED9CE;
  padding: 25px;
  font-family: "Viaoda Libre", serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#upcoming-events {
  display: flex;
  justify-content: center;
  color: #DED9CE;
  padding: 25px;
  font-family: "Viaoda Libre", serif;
}

#recent-events {
  display: flex;
  justify-content: center;
  color: #DED9CE;
  padding: 25px;
  font-family: "Viaoda Libre", serif;
}

#schedule-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  color: #DED9CE;
  font-size: 12px;
}

.card-text a {
  color: inherit;
}

.card {
  height: 200px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  margin: 10px;
}

.card-body {
  color: #DED9CE;
  font-family: "Playfair Display", serif;
}


#card-photo {
  object-fit: fill;
}

/* Quote block */

#quote-block-two {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
  background-color: #341846;
  padding: 25px;
}

#quote-image-container {
  width: 500px; 
  height: 350px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

#quote-image {
  width: 100%;
  height: 100%;
}

.quote-wrapper {
  position: relative;
  font-family: 'Playfair Display', serif;
  padding: 40px; 
  text-align: center;
}

.quote-two {
  font-size: 60px; 
  color: #DED9CE; 
  display: inline-block;
  position: relative;
  z-index: 1; 
  font-style: italic; 
  padding: 0 20px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.quote-two::before,
.quote-two::after {
    font-size: 100px; 
    color: #fff; 
    position: absolute;
    top: -20px; 
    font-family: 'Playfair Display', serif;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.5); 
}

.quote-two::before {
    content: open-quote; 
    left: 10px; 
}

.quote-two::after {
    content: close-quote; 
    right: 20;
    top: 60px;
}

#source-two {
  font-family: "Playfair Display", serif;
  color: #DED9CE;
}

#source-two a {
  color: inherit;
}

/* Media */

#media {
  width: 100%;
  height: 900px;
  background-image: url('assets/latrav2.jpg');
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  z-index: 0; /* Background layer */

}

#media-container {
  display: flex;
  justify-content: flex-end;
}

#media-block {
  margin-top: 50px;
  height: 700px;
  width: 700px;
  background-color: rgba(34, 50, 96, 0.5);
}

#media-content {
  display: flex;
  flex-direction: column;
}

#media-content h1 {
  padding-top: 25px;
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
  align-self: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#media-content h3 {
  padding-top: 25px;
  color: #DED9CE;
  font-family: "Playfair Display", serif;
  align-self: center;
}


/* Gallery */

#gallery {
  width: 100%;
  height: 800px;
  background-color: #732B05;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#gallery-title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-family: "Viaoda Libre", serif;
  color: #DED9CE;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#carousel-box {
  display: flex;
  justify-content: center;
  height: 700px;
  width: 1000px;
  background-color: rgba(23, 37, 63, 0.75);
  margin: auto;
}

#carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#carousel {
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-inner {
  height: 100%; 
}

.carousel-item {
  height: 100%; 
  position: relative;
}

.carousel-item img {
  width: auto;
  height: auto;
  object-fit: cover; 
  object-position: center; 
}

.carousel-indicators {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicators li {
  background-color: #fff; /* Adjust color as needed */
  border-radius: 50%;
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
}

.carousel-indicators .active {
  background-color: #000; /* Adjust color for the active indicator */
}

/* Voiceover */

#voiceover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
  background-color: #0f1939;
}

#voiceover-header {
  padding-top: 25px;
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
  align-self: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#voiceover-wrapper {
  display: flex;
  flex-direction: row; /* Align photo and text block side by side */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  width: 100%;
  max-width: 1000px; /* Limit width if needed */
}

#voiceover-headshot {
  width: 300px; 
  height: 300px; 
  overflow: hidden;
}

#voiceover-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

#voiceover-block {
  width: 700px;
  background-color: #732B05;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  padding: 20px; 
  margin-top: 20px;
  font-family: Playfair Display;
  color: #DED9CE;
  margin-right: 25px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

#voiceover-video {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 560px; /* Ensure video fits within max width */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Contact */

#contact {
  width: 100%;
  height: 1000px;
  background-color: #341846;
}

#contact-me {
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#content-wrapper {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%; /* Ensure it takes full width if needed */
}

#contact-block {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 500px;
  background-color: #732B05;
}

#img-container {
  width: 300px; 
  height: 300px; 
  overflow: hidden;
}

#contact-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 30% right;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

#name h1 {
  font-family: Playfair Display;
  color: #DED9CE;
  margin-top: 30px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#number h3 {
  font-family: Playfair Display;
  color: #DED9CE;
}

#email h3 {
  font-family: Playfair Display;
  color: #DED9CE;
}

#email a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

#email a:hover {
  color: #666666; /* Optional: Change hover color */
  text-decoration: underline; /* Optional: Add underline on hover */
}

#number, #email {
  display: flex; /* Arrange icon and text horizontally */
  align-items: center; /* Vertically center the icon and text */
}

#number h3, #email h3 {
  margin-left: 10px; /* Add some space between the icon and the text */
}

#phone-icon, #email-icon {
  width: 16px;
  height: 16px;
  color: #DED9CE;
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-icons {
  display: flex;
  flex-direction: row;
  color:#DED9CE;
  gap: 20px;
}

#footer-image {
  height: 150px;
  width: 150px;
   margin-top: 40px;
}
