/* Navbar! */

#navbar {
  height: 75px;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
  font-size: 20px;
}

.nav-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

#logo-pic {
  height: 75px;
}

/* Home! */

#home {
  width: 100%;
  height: 1000px;
  background-image: url('assets/homephoto-crop.jpeg');
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title h1 {
  font-size: 100px;
  color: #DED9CE;
  padding-left: 50px;
  padding-top: 100px;
  font-family: "Viaoda Libre", serif;
}

#subtitle h3 {
  font-size: 60px;
  color: #DED9CE;
  text-align: left;
  padding-left: 50px;
  font-family: "Viaoda Libre", serif;
}

#quote-block {
  height: 200px;
  width: 700px;
  background-color: rgba(125, 58, 34, 0.5); 
  margin-bottom: 25px;
  margin-top: 25px;
}

#quote-container {
  height: 100px;
  width: 500px;
  padding-left: 100px;
  padding-top: 10px;
}

.styled-quote {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 23px;
    color: #DED9CE; 
    padding: 25px;
}

.styled-quote::before,
.styled-quote::after {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    color: #DED9CE; 
    position: absolute;
}

.styled-quote::before {
    content: open-quote;
    top: -20px; 
    left: -10px; 
}

.styled-quote::after {
    content: close-quote;
    bottom: -30px; 
    right: -10px;
}


#quote-content {
  display: flex;
  flex-direction: column;
}

#source {
  color: #DED9CE;
  font-family: "Playfair Display", serif;
  align-self: flex-end;
}

#up-next-block {
  height: 300px;
  width: 700px;
  background-color: rgba(34, 50, 96, 0.5);
  margin-top: 15px;
}

#up-next {
  color: #DED9CE;
  margin-left: 15px;
  font-family: "Viaoda Libre", serif;
  padding-top: 20px;
}

#up-next-contents {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-family: "Playfair Display", serif;
}

#left-side {
  padding-left: 10px;
  padding-top: 15px;
  color: #DED9CE;
  text-align: center;
}

#right-side {
  text-align: center;
}

.caption {
  color: #DED9CE;
  padding-top: 5px;
}

/* Resume block! */

#resume-block {
  height: 400px;
  width: 100%;
  background-color: #032107;
}

#headshot-container {
  width: 350px; 
  height: 350px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#john-one {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 15%;
}

#block-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}

#resume-button {
  height: 75px;
  width: 250px;
  background-color: #732B05;
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
  font-size: 23px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Biography! */

#biography {
  width: 100%;
  height: 800px;
  background-image: url('assets/falstaff1.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px;
}

#bio-block {
  height: 700px;
  width: 700px;
  background-color: rgba(56, 26, 83, 0.75);
  color: #DED9CE; 
  text-align: center;
  padding: 50px;
}

.highlight {
  font-size: 1.5em; 
  font-weight: bold;
}

#bio-block h1 {
  font-family: "Viaoda Libre", serif;
  padding-bottom: 20px;
}

#bio-block p {
  font-family: "Playfair Display", serif;
}

/* Schedule! */

#schedule {
  width: 100%;
  height: 800px;
  background-color: #0f1939;
}

#schedule-title h1 {
  display: flex;
  justify-content: center;
  color: #DED9CE;
  padding: 25px;
  font-family: "Viaoda Libre", serif;
}

#schedule-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  color: #DED9CE;
}

.card {
  height: 200px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  margin: 10px;
}

.card-body {
  color: #DED9CE;
  font-family: "Playfair Display", serif;
}


#card-photo {
  height: 200px;
  width: 275px;
  object-fit: cover; 
  display: block;
}

/* Quote block */

#quote-block-two {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
  background-color: #341846;
  padding: 25px;
}

#quote-image-container {
  width: 500px; 
  height: 350px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

#quote-image {
  width: 100%;
  height: 100%;
}

.quote-wrapper {
  position: relative;
  font-family: 'Playfair Display', serif;
  padding: 40px; 
  text-align: center;
}

.quote-two {
  font-size: 60px; 
  color: #DED9CE; 
  display: inline-block;
  position: relative;
  z-index: 1; 
  font-style: italic; 
  padding: 0 20px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.quote-two::before,
.quote-two::after {
    font-size: 100px; 
    color: #fff; 
    position: absolute;
    top: -20px; 
    font-family: 'Playfair Display', serif;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.5); 
}

.quote-two::before {
    content: open-quote; 
    left: 10px; 
}

.quote-two::after {
    content: close-quote; 
    right: 20;
    top: 60px;
}

#source-two {
  font-family: "Playfair Display", serif;
  color: #DED9CE;
}

/* Media */

#media {
  width: 100%;
  height: 1000px;
  background-image: url('assets/latrav2.jpg');
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  z-index: 0; /* Background layer */

}

#media-container {
  display: flex;
  justify-content: flex-end;
}

#media-block {
  height: 700px;
  width: 700px;
  background-color: rgba(34, 50, 96, 0.5);
}

#media-content {
  display: flex;
  flex-direction: column;
}

#media-content h1 {
  padding-top: 25px;
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
  align-self: center;
}

#media-content h3 {
  padding-top: 25px;
  color: #DED9CE;
  font-family: "Playfair Display", serif;
  align-self: center;
}


/* Gallery */

#gallery {
  width: 100%;
  height: 800px;
  background-color: #732B05;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#gallery-title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-family: "Viaoda Libre", serif;
  color: #DED9CE;
}

#carousel-box {
  display: flex;
  justify-content: center;
  height: 700px;
  width: 1000px;
  background-color: rgba(23, 37, 63, 0.75);
  margin: auto;
}

#carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#carousel {
  width: 800px;
  max-width: 100%; /* Makes the carousel responsive */
  height: 600px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-item img {
  max-width: 100%; /* Ensures images do not exceed container width */
  max-height: 100%; /* Ensures images do not exceed container height */
  width: auto;
  height: auto;
}

/* Voiceover */

#voiceover {
  width: 100%;
  height: 800px;
  background-color: #0f1939;
}

#voiceover-content {
  display: flex;
  flex-direction: column;
}

#voiceover h1{
  padding-top: 25px;
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
  align-self: center;
}

#voiceover h3 {
  padding-top: 25px;
  color: #DED9CE;
  font-family: "Playfair Display", serif;
  align-self: center;
}

/* Contact */

#contact {
  width: 100%;
  height: 800px;
  background-color: #341846;
}

#contact-me {
  color: #DED9CE;
  font-family: "Viaoda Libre", serif;
}

#contact-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
}

.contact-info {
  color: #DED9CE;
}

#contact-block {
  height: 350px;
  width: 350px;
  background-color: rgba(125, 58, 34, 0.5);
  font-family: "Playfair Display", serif;
}

#footer-image {
  height: 150px;
}
